.container {
  width: 20px;
  height: 20px;
  background-color: Blue;
  margin-bottom: 10px;
}

span {
  display: block;
}

input[type="text"],
input[type="email"] {
  border: 1px solid red;
}
